<!DOCTYPE html>

<html lang="pt-BR">

<head>


<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Estação Meteorológica</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='ifsc.ico') }}">


</head>

<body>

<header class="header">

    <div class="header-left">

        <div class="logo-area">
            <img src="{{ url_for('static', filename='ifsc.ico') }}"
                 alt="IFSC"
                 class="logo">
        </div>

        <div>
            <h1>Estação Meteorológica</h1>
            <p>Monitoramento ambiental</p>
        </div>

    </div>

    <div id="status-estacao" class="status-estacao">
        <span class="status-indicador"></span>
        <span>Verificando...</span>
    </div>

</header>


<nav class="navbar">

    <div class="nav-container">

        <a href="/" class="nav-link active">
            Dashboard
        </a>

        <a href="/graficos" class="nav-link">
            Gráficos
        </a>

    </div>

</nav>


<main class="container">

    <section class="dashboard-header">

        <div>
            <h2>Monitoramento em tempo real</h2>
            <p>Dados atuais dos sensores da estação</p>
        </div>

        <div id="ultima-atualizacao">
            Última atualização: --
        </div>

    </section>


    <section id="sensores" class="sensores">

        <!--
            Os cards dos sensores
            serão inseridos pelo script.js
        -->

    </section>

<section class="grafico-dia">

    <div class="grafico-dia-header">

        <div>
            <h2>Dados de hoje</h2>

            <p id="data-grafico-dia">
                Carregando dados...
            </p>
        </div>

    </div>

    <div class="grafico-dia-container">

        <canvas id="grafico-dia"></canvas>

    </div>

</section>


</main>


<footer>

    <p>
        Estação Meteorológica · IFSC
    </p>

</footer>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>